<!DOCTYPE html>
<html>
<head>
  <title>Pokémon Management</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1>Pokémon Management App</h1>
  <div class="home-buttons">
    <a href="/trainers">Trainers</a>
    <a href="/pokemons">Pokémons</a>
  </div>
</body>
</html>
